.hideMe {
    opacity: 0%;
}

.really-hidden {
    display: none;
}

.onHover {
    background-color: #e6e6e6;
    border-radius: 3px;
}

.onHover:hover {
    background-color: #b3b3b3;
    transition: 2s;
}